@font-face {
  font-family: myFont;
  src: url('Myfont-Regular.ttf');
}

body {
  /* background-color: #FFF8E8; */
  background-color: #f6eee3;
}

h1 {
  font-family: myFont;
}

h3 {
  font-family: myFont;
  font-style: italic;
  font-weight: 100;
}

h1, h3 {
  text-align: center;
}

.buttons {
  justify-self: center;
  margin: 30px 0px;
}

#add-button {
  background-color: #AAB396;
  padding: 10px 25px;
  margin: 0px 10px;
  border: solid 2px #838e6c;
}

#remove-button {
  background-color: #C5705D;
  padding: 10px 15px;
  margin: 0px 10px;
  border: solid 2px #ad5e4c; 
}

#add-button:hover {
  cursor: pointer;
  background-color: #838e6c;
}

#remove-button:hover {
  cursor: pointer;
  background-color: #ad5e4c;
}

#book-database-container {
  width: 50%;
  height: auto;
  background-color: white;
  border: solid 1px black;
  text-align: center;
  justify-self: center;
  border-radius: 10px;
}